$color-base: #04121b;
$color-base-secondary: rgba($color-base, 0.64);
$color-base-tertiary: rgba($color-base, 0.38);
$color-base-disabled: rgba($color-base, 0.24);
$color-input-bg: #f4f5f6;
$color-item-bg: #fcfcfc;
$color-primary: #c925ff;
$color-primary-light: #f9ebff;
$color-primary-bg: #f9ebff;
$radius-main: 2rem;
$radius-card: 1rem;
$radius-control: 0.75rem;
